# @vagaro:registry=https://pkgs.dev.azure.com/Vagaro/_packaging/ReactToolkit/npm/registry/
# //pkgs.dev.azure.com/Vagaro/_packaging/ReactToolkit/npm/registry/:_authToken=79F1e1WwCpV5WfrGUC5cJkjdwLUTIUIwTKeQJBU1XdiAGxQoYNA3JQQJ99BCACAAAAAuxNsNAAASAZDO3lKy
# always-auth=true


//npm.pkg.github.com/:_authToken=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
@abdulpara5252:registry=https://npm.pkg.github.com