@vagaro:registry=https://pkgs.dev.azure.com/Vagaro/_packaging/ReactToolkit/npm/registry/
//pkgs.dev.azure.com/Vagaro/_packaging/ReactToolkit/npm/registry/:_authToken=79F1e1WwCpV5WfrGUC5cJkjdwLUTIUIwTKeQJBU1XdiAGxQoYNA3JQQJ99BCACAAAAAuxNsNAAASAZDO3lKy
always-auth=true