.add-map-marker-btn {
  margin-top: 12px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: -4px;
}
.marginTop8{
  margin-top: 8px;
}

@media(max-width:767px){
  .vg-modal-body .marginTop8 > div{
    width: 100% !important;
    height: auto;
   }
}